body{
    text-align: center;
    display: flex;
}
.logo{
    width: 60px;
    height:60px;
}
.div1{
    background-color: #fff;
    padding-top: 120px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 120px;

    height: 600px;
    width: 600px;

}

img{
    height: 600px;
    width: 500px;
}

input{
   outline: none;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 3px solid rgb(93, 7, 192);
   height: 50px;
   border-image: url(bg1.jpg) 30 stretch;
   font-weight: bold;
}
#logo_text{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Audiowide', cursive;
}
h3{
    color: gray;
    
}
button{
    height: 50px;
    width: 150px;
    color: White;
    background-image: url(bg1.jpg);
}
#main_div{
    height: 600px;
    width: 1085px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 230px;
    margin-right: 100px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.418), 0 10px 24px 0 rgba(0, 0, 0, 0.5);
}
